# Copy this file to .env and fill in the values below.
# Supabase Dashboard > Settings > API
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Don't need to modify these for local development
FRONTEND_URL=http://localhost:5173

PORT=5001


SOCKETIO_ASYNC_MODE=threading


